body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-title {
    font-size: 3em;
}

.top-basket-container {
    display: flex;
}

.pizzas-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pizza-card {
    width: 250px;
    margin: 10px 20px;
}

.pizza-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}