<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yolo Pizza</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1 class="top-title">Yolo Pizza</h1>
    <a class="top-new-basket" th:href="@{/(basketId=-1)}">Nouveau panier</a>
    <nav class="nav-basket-container" th:if="${basketIds.size()} > 1">
        <a class="nav-basket-item" th:each="bsktId : ${basketIds}" th:href="@{/(basketId=${bsktId})}" th:text="|Panier ${bsktId}|">Choix du panier</a>
    </nav>
</header>
<div></div>
<section class="pizzas-container">
    <article class="pizza-card" th:each="pizza : ${pizzas}" th:object="${pizza}">
        <img class="pizza-img" th:src="*{image}">
        <div class="pizza-content">
            <h4 class="pizza-name" th:text="*{name}">Nom de la pizza</h4>
            <p class="pizza-price" th:text="|*{price} €|">Prix</p>
            <a class="pizza-add" th:href="@{/buy(pizzaId=*{id}, basketId=${basket.id})}">Ajouter</a>
        </div>
    </article>
</section>
<aside class="basket-container">
    <h4 th:text="|Panier ${basket.id}|">Panier</h4>
    <div th:utext="|<b>Total:</b> ${amount} €|">Montant</div>
    <a class="basket-delete" th:href="@{/delete(basketId=${basket.id})}">Supprimer</a>
</aside>
</body>
</html>